{% extends "base.html" %}

{% block main_block %}
<div class="main_block_elem">
<form method="POST">
    {% csrf_token %}
    <label>
        Логин:
        <input type="text" name="username">
    </label> <br>
    <label>
        Пароль:
        <input type="password" name="password">
    </label> <br>
    <label>
        Повторите ввод:
        <input type="password" name="password2">
    </label> <br>
    <label>
        Email:
        <input type="email" name="email">
    </label> <br>
    <label>
        Фамилия:
        <input type="text" name="last_name">
    </label> <br>
    <label>
        Имя:
        <input type="text" name="first_name">
    </label> <br>
    <button type="submit">Зарегистрировать</button>
</form>
</div>
{% endblock %}
